@typeparam TItem

<select class="form-select" @onchange="Cambiato">
    <option value="0">@etichetta</option>
    @foreach(TItem singolo in elementi)
    {
        <option value="@PK(singolo)">@singolo.ToString()</option>
    }
</select>

@code {
    // es. ListaLut<Categoria>, ListaLut<Collezione>, ListaLut<Utente>
    // <ListaLut elementi="db.categorie" PK="x => x.idCategoria" />

    private int idSelezionato = 0;

    /// <summary>
    /// carica la collezione degli elementi
    /// </summary>
    [Parameter] public IEnumerable<TItem> elementi { get; set; }
    // EventCallback ci permette di avvertire l'utente
    [Parameter] public EventCallback<int> OnSelect { get; set; }
    // Func essere avvertiti dall'utente
    /// <summary>
    /// indica la chiave primaria della LUT
    /// </summary>
    [Parameter] public Func<TItem, int> PK { get; set; }

    [Parameter] public string etichetta { get; set; } = "nessuno";

    private void Cambiato(ChangeEventArgs evento)
    {
        int id = int.Parse( evento.Value.ToString() );
        if (OnSelect.HasDelegate)
        {
            OnSelect.InvokeAsync(id);
        }
    }

}
