@using TerzaApp.Dati
@inject Archivio db

<div class="mb-3">
    <h3>
        @titolo
    </h3>
    @if(ChildContent != null)
    {
        <p>@ChildContent</p>
    }
    @if (OnRicerca.HasDelegate)
    {
        <div class="input-group">
            <ListaLut elementi="db.collezioni" PK="x => x.IdCollezione" etichetta="collezione..." />
            <ListaLut elementi="db.categorie" PK="x => x.IdCategoria" etichetta="categoria..." />
            <input class="form-control" placeholder="cerca..." @oninput="TestoCambiato" />
        </div>
    }
</div>
@code {
    [Parameter] public string titolo { get; set; } = string.Empty;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public EventCallback<string> OnRicerca { get; set; }

    private void TestoCambiato(ChangeEventArgs eventArgs)
    {
        string valore = eventArgs.Value.ToString();
        if (OnRicerca.HasDelegate)
        {
            OnRicerca.InvokeAsync(valore);
        }
    }
}