<div class="nav-item px-3 text-white">
    @if (nuova)
    {
        <NavLink class="nav-link" href="@href" target="_blank">
            <i class="bi @icona mx-3"></i> @descrizione
        </NavLink>
    } else
    {
        <NavLink class="nav-link" href="@href">
            <i class="bi @icona mx-3"></i> @descrizione
        </NavLink>
    }

</div>

@code {
    /// <summary>
    /// L'indirizzo a cui la voce di menù punterà quando viene cliccata
    /// </summary>
    [Parameter] public string href { get; set; } = string.Empty;
    /// <summary>
    /// Il testo descrittivo che l'utente può impostare come voce di menù
    /// </summary>
    [Parameter] public string descrizione { get; set; } = string.Empty;
    /// <summary>
    /// la sola componente testuale dell'icona Boostrap (es. bi-trash)
    /// </summary>
    [Parameter] public string icona { get; set; } = string.Empty;
    /// <summary>
    /// se impostato a true apre il link su una nuova tab
    /// </summary>
    [Parameter] public bool nuova { get; set; } = false;
}
