@page "/categorie"
@using System.Text.Json
@using TerzaApp.Dati.Strutture
@inject TerzaApp.Dati.Archivio db

<h3>Categorie</h3>

<input class="form-control" @bind="ricerca" placeholder="Cerca nelle categorie..." />

<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th class="w-25"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Categoria singolo in db.categorie)
            {
                if (singolo.Nome.Contains(ricerca) || singolo.Descrizione.Contains(ricerca))
                {
                    <tr>
                        <td>@singolo.Nome</td>
                        <td>@singolo.Descrizione</td>
                        <td class="text-end">
                            <div class="btn btn-sm btn-danger" @onclick="e => Cancella(singolo) ">cancella</div>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <input @bind="bozza.Nome" class="form-control" />
                </td>
                <td>
                    <input @bind="bozza.Descrizione" class="form-control" />
                </td>
                <td class="text-end">
                    <div class="btn btn-sm btn-success" @onclick="Salva">salva</div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

@code {
    string ricerca = "";
    Categoria bozza = new Categoria();

    protected override void OnInitialized()
    {
        // controllo se esiste un archivio dei prodotti

        base.OnInitialized();
    }

    void Cancella(Categoria selezionato)
    {
        db.categorie.Remove(selezionato);
        db.Salva();
    }

    void Salva()
    {
        // prima inserisco
        db.categorie.Add(bozza);
        bozza = new Categoria();
        // poi salvo
        db.Salva();
    }
}
