@implements IDisposable
@page "/ciclovita"
@page "/ciclovita/{sku}"

<h3>Ciclo di Vita della pagina</h3>

<p>codice: @sku</p>

<button class="btn btn-primary" @onclick="e => stato = !stato ">@stato</button>

<ol>
    @foreach(string messaggio in messaggi)
    {
        <li>@messaggio</li>
    }
</ol>

@code {
    [Parameter] public string sku { get; set; } = string.Empty;

    private List<string> messaggi = new List<string>();
    private bool stato = false;

    protected override void OnInitialized()
    {
        messaggi.Add("OnInitialized");
    }

    protected override void OnParametersSet()
    {
        messaggi.Add("OnParametersSet");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            messaggi.Add("OnAfterRender (prima volta)");
        else
            messaggi.Add("OnAfterRender");
    }

    protected override bool ShouldRender()
    {
        messaggi.Add("ShouldRender");
        return base.ShouldRender();
    }

    public void Dispose()
    {
        messaggi.Add("Dispose");
    }
}
