<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TerzaApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <VoceMenu href="ciclovita" icona="bi-arrow-clockwise" descrizione="Ciclo di vita" />
        <VoceMenu href="ciclovita/1" icona="bi-arrow-clockwise" descrizione="Ciclo di vita 1" />
        <VoceMenu href="ciclovita/2" icona="bi-arrow-clockwise" descrizione="Ciclo di vita 2" />
        
        <VoceMenu href="moltiplicazioni" icona="bi-calculator" descrizione="Moltiplicazioni" nuova="true" />
        <VoceMenu href="divisioni" icona="bi-calculator" descrizione="Divisioni" />
        <VoceMenu href="spa" icona="bi-cart" descrizione="Prodotti" />
        <VoceMenu href="categorie" icona="bi-tags-fill" descrizione="Categorie" />
        <VoceMenu href="collezioni" icona="bi-archive" descrizione="Collezioni" />
    </nav>
</div>