@page "/"
@using Stradario.Strutture
@inject BancaDati db

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Nodi : @db.Nodi.Count()</p>
<p>Archi : @db.Archi.Count()</p>

<button class="btn btn-success" @onclick="Importazione">Importa</button>


@code {

    private void Importazione()
    {
        db.Importa("strade.csv");
    }

}