@page "/"
@using Stradario.Strutture
@inject BancaDati db

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Nodi : @db.Nodi.Count()</p>
<p>Archi : @db.Archi.Count()</p>

@if(stato == null)
{
    <button class="btn btn-success" @onclick="Importazione">Importa</button>
} else if(stato == true)
{
    <p class="alert alert-success">Importazione ultimata!</p>
} else
{
    <p class="alert alert-warning">Errori con il fle...</p>
}

<button class="btn btn-success" @onclick="Trova">trova percorso</button>



@code {
    private bool? stato = null;
    // se è null vuol dire che l'operazione è o in corso o non lanciata
    // se è true è andata bene
    // se è false ci sono stati degli errori con il file...

    private void Importazione()
    {
        stato = db.Importa("strade.csv");
    }

    private void Trova()
    {
        db.Nodi.First(x => x.nome.ToLower() == "ancona"); // like 'ancona'
        db.Nodi.First(x => x.nome.ToLower().StartsWith("A")); // like 'A%'
        db.Nodi.First(x => x.nome.ToLower().EndsWith("a")); // like '%a'
        db.Nodi.First(x => x.nome.ToLower().Contains("nco")); // like '%nco%'

        List<Nodo> soluzione = new List<Nodo>();
        db.TrovaPercorso(
            db.Nodi.First(x => x.nome == "Firenze"), // inizio
            db.Nodi.First(x => x.nome == "Roma"),     // fine
            soluzione,
            new Nodo[0]
        );

        if (soluzione.Count > 0)
        {
            Console.WriteLine("un percorso esiste!");
        } else
        {
            Console.WriteLine("non c'è modo di arrivare all'obbiettivo");
        }
    }

}